.background {
  min-height: 100vh;
  background-color: #91b48f;
  text-align: -webkit-center;
}

table {
  text-align: center;
  border = 1px;
  border-collapse: collapse;
  width: 60vw;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  text-align: left;
}

table th {
  font-family: "Arimo";
  font-size: 3vh;
}

.conf-container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.conf-container div {
  display:flex;
  flex-direction: column;
}
